.new-note-input {
  width: 500px;
}

#note-input {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #666
}

#add-btn {
  margin-left: 10px;
}

h1 {
  text-align: center;
}