#signin-input {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #666
}

.ui.active.modal {
  max-width: 500px;
}

.ui.input.sign {
  display: flex !important;
}

.signin-input {
  width: 500px;
}

.error {
  background: #FFF6F6 !important;
  border-color: #E0B4B4 !important;
}