#header {
  background-color: #6435c9
}
h1 {
  width: 90vw;
  color: #FFF;
}

Button {
  width: 10vw;
  max-width: 100px;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #9be7ff
}

@media (max-width:600px) {
  .ui.compact.segment {
    display: block;

    margin: 0 0;
  }

  .ui.padded.segment {
    padding: 0;
  }
}

@media (max-width:400px) {

}