#header {
  background: #343a40;
  margin-top: 0 !important;
}
h1 {
  color: #fff;
  width: 60vw;
}

.header-grid {
  display: grid;
  grid: 60vw, 20vw;
}

.h-col-1 {
  grid-column: 1/2;
  grid-row: 1/2;
}

.h-col-2 {
  grid-column: 2/2;
  grid-row: 1/2;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.ui.buttons .or:before {
  border-radius: 40% !important;
  width: fit-content !important;
  background-color: #a291fb !important;
  color: #fff !important;
}

i.icon {
  margin: 0 !important;
}

@media (max-width: 870px) {
  .row {
    flex-wrap: nowrap !important;
  }

  .ui.compact.segment {
    display: block;

    margin: 0 0;
  }

  .ui.button {
    padding-left: 8px !important;
    padding-right: 8px !important;
  }
}

@media (max-width: 650px) {
  h1 {
    width: 50vw;
  }
}

@media (max-width: 650px) {
  h1 {
    font-size: 16px !important;
    width: 40vw;
    padding-top: 5px !important;
  }
  #header {
    padding-left: 10px;
    padding-right: 10px;
  }
}
