.ui.buttons .or:before {
  border-radius: 40% !important;
  width: fit-content !important;
  background-color: #a291fb !important;
  color: #fff !important;
}

i.icon {
  margin: 0 !important;
}

@media (max-width: 935px) {
  .row {
    flex-wrap: nowrap !important;
  }

  .ui.compact.segment {
    display: block;

    margin: 0 0;
  }

  .ui.button {
    padding-left: 8px !important;
    padding-right: 8px !important;
  }
}

@media (max-width: 650px) {
  h1 {
    width: 50vw;
  }
}

@media (max-width: 500px) {
  h1 {
    width: 40vw;
  }
}
